spring:
  profiles:
    active: dev


---
spring:
  profiles: prod
server:
  port: 8888 # 注册中心占用8080端口
eureka:
  instance:
    hostname: 10.30.116.139
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/  #其实就是 http://localhost:8080/eureka/

---
spring:
  profiles: dev
server:
  port: 8888 # 注册中心占用8080端口
eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/  #其实就是 http://localhost:8080/eureka/
